
*.zip
.DS_Store
data/data0.5/data_split/downsample_trace.txt
data/data0.5/data_split/test_trace.txt
data/data0.5/data_split/train_trace.txt
data/data0.5/data_split/val_trace.txt
data/data0.5/test_data/test.json
data/data0.5/train_data/train.json
data/data0.5/val_data/val.json
